<<<<<<< HEAD
header {
	    height: 70px; 
	        width: 100%;
		    border-bottom: 1px solid #575757;
		        background: white url(../images/logo.png);
			    background-repeat: no-repeat;
			        background-position: 20px center;
				    flex-shrink: 0;
			    }
=======
/* Header style */
header {
    background: #fff url('../images/logo.png') 20px center no-repeat;
    border-bottom: 1px solid #ccc;
    height: 70px;
    width: 100%;
  }
>>>>>>> ddbb4f41bd71941f05c8cbddaa9c04d91a1cd569
