footer {
<<<<<<< HEAD

	    background-color: #00FF00; 
	        height: 60px; 
		    width: 100%;
		        position: fixed;  
			    display:flex;
			        flex-direction: column; 
				    justify-content: center; 
				        align-items: center;
					    bottom: 0;
				    }
=======
    height: 60px;
    background-color: #00FF00;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
>>>>>>> ddbb4f41bd71941f05c8cbddaa9c04d91a1cd569
