header {
<<<<<<< HEAD
	    background-color: #FF0000; 
	        height: 70px; 
		    width: 100%;
	    }
=======
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
>>>>>>> ddbb4f41bd71941f05c8cbddaa9c04d91a1cd569
