<<<<<<< HEAD
html, body {
	    height: 100%;
    }
    body {
	        margin: 0px;
		    padding: 0px; 
		        color: #484848;
			    font-size: 14px;
			        font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
				    display: flex;
				        flex-direction: column;
				}
				.container {
					    width: 100%;
					        max-width: 1000px;
						    flex: 1 0 auto;
					    }
=======
* {
    margin: 0;
    padding: 0;
}

body {
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
}
>>>>>>> ddbb4f41bd71941f05c8cbddaa9c04d91a1cd569
