footer {
    height: 60px;
    background-color: #FFFFFF;
    width: 100%;    
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;   
}



footer div {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
}
