<<<<<<< HEAD
html, body {
	    height: 100%;
    }
    body {
	        margin: 0px;
		    padding: 0px; 
		        color: #484848;
			    font-size: 14px;
			        font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
				    display: flex;
				        flex-direction: column;
				}
				.container {
					    max-width: 1000px;
					        margin: 30px auto;
						    width: 100%;
						        flex: 1 0 auto;
						}
=======
* {
    margin: 0;
    padding: 0;
}

body { 
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    height: 80px;    
}
>>>>>>> ddbb4f41bd71941f05c8cbddaa9c04d91a1cd569
